<div class="top-contents-box">
    <div class="top-content">
       <h2 class="top-content-title">Letter to... とは？</h2> 
       <p>今は亡きあの人へ言葉を贈ることが出来るサービスです。<br>
    昨今では、コロナウイルスの影響により、お世話になった方の身に不幸があった際、<br>
    葬儀に出席することさえも、ままならぬ状況です。<br>
    そのような状況の中、どうにか亡くなった方へメッセージを伝えることが出来る方法を探した結果、<br>
    このサービスがスタートしました。<br>
    コロナウイルスにより葬儀への出席が難しい方、距離的時間的な問題で最後に会うことができない方等<br>
    からのメッセージを募集することができます。<br>
    亡くなった方がどのように生きたか、どのような方々と交流があり、どのような影響を与えたか<br>
    これは、ご遺族の心の支えとなるはずです。<br>
    ぜひ、ご利用ください。</p>
    </div>
    <div class="top-content">
       <h2 class="top-content-title">Letter to... の使い方</h2> 
    <p>ご遺族の方</p>
    <p>まずは下記のボタンより、サービスご登録をお願いいたします。<br>
    ご登録完了後、お亡くなりになられた方専用のページの作成が可能となります。<br>
    （テンプレートを用意しておりますので、簡単にご準備いただけます。）</p>
    <p>亡くなられた方へメッセージを贈られる方<br>
    ご遺族の方に専用のURLをお渡ししております。そちらのURLよりアクセスの上、ご利用ください。</p>
    </div>
    <button class="button"><%= link_to "ご登録はこちら", new_user_path %></button>
</div>