@import "bootstrap-sprockets";
@import "bootstrap";



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F6F5F2;
}

/*ヘッダー*/
header{
    width: 100%;
    height: 60px;
    padding-left:7%;
    padding-right: 7%;
    background-color: #B7193E;
    display:flex;
    font-family: cursive;
}

#site-title{
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    // mix-blend-mode: multiply;
}

#logo{
    height:60px;
}

.nav-list-box{
    display:flex;
}

.nav-list{
    margin-left: 20px;
     list-style: none;
}

.nav-list > a{
    text-decoration: none;
    line-height: 60px;
    font-size:15px;
    font-weight: bold;
    color: white;
}

/*メインビジュアル*/
.main-visual{
    width:100%;
    height: 400px;
    background-image: url(img/main-visual1.jpg);
    background-size: cover;
    background-position: center;
}

/*ホーム*/
.ribbon1 {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 50px;/*リボンの高さ*/
  line-height: 50px;/*リボンの高さ*/
  text-align: center;
  padding: 0;/*横の大きさ*/
  font-size: 18px;/*文字の大きさ*/
  background: #B7193E;/*塗りつぶし色*/
  color: #FFF;/*文字色*/
  box-sizing: border-box;
  margin: 0 auto;
  margin-top:20px;
  font-size:20px;
}

.ribbon1:before, .ribbon1:after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  z-index: 1;
}

.ribbon1:before {
  top: 0;
  left: 0;
  border-width: 25px 0px 25px 15px;
  border-color: transparent transparent transparent #FAF0E6;
  border-style: solid;
}

.ribbon1:after {
  top: 0;
  right: 0;
  border-width: 25px 15px 25px 0px;
  border-color: transparent #FAF0E6 transparent transparent;
  border-style: solid;
}


.top-contents-box{
    width:80%;
    margin:0 auto;
    padding-top: 50px;
    text-align: center;
    background-color: #F6F5F2;
}

.top-content {
  text-align: center;
  margin-bottom: 70px;
}
.top-content-title {
  margin: 0 auto;
  margin-bottom:40px;
  font-weight:bold;
  text-align: center;
  color: #B7193E;
  font-size: 40px;
}

.top-content p {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height:40px;
}

.button{
    border-radius:5px;
    background-color:#B7193E ;
    width:200px;
    padding:10px 30px 10px 30px;
    margin:0 auto;
    margin-top: 40px;
    display: block;
    // border-color: #f57a78;
}

.button a {
    color: white;
    text-decoration: none;
}

/*フッター*/
footer{
    margin-top: 30px;
    padding:20px;
    text-align: center;
}






/*フォーム*/
.form-box{
    width:50%;
    margin: 0 auto;
    text-align: left;
    margin-top:30px;
    margin-bottom: 30px;
}

label {
    display:block;
}

input{
    width:100%;
    margin:0 auto;
    margin-bottom: 30px;
}

.btn{
    width:50%;
    color: white;
    background-color:#f57a78;
    display: block;
    margin: 0 auto;
    margin-top:20px;
}

.form-box  a {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

.checkbox span {
    padding-left: 20px;
}

#session_remember_me{
    width: auto;
    margin-left: 0;
}

textarea.form-control {
    height: 300px;
}

#dimage-box{
    margin-top: 30px;
    margin-bottom: 10px;
}


/*エラ〜メッセージ*/
#error_explanation{
    color:red;
}

#error_explanation li{
    margin: 0 0 5px 0;
}

.field_with_errors{
    @extend .has-error;
}

// flashメッセージ
.alert{
    text-align:center;
}


// プロフィールページ
.profile-box{
    display:flex;
    justify-content: center;
    margin-top: 40px;
}

.profile-img-box{
  margin-right: 50px;
}

.profile-img-box > img{
  display: block;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile-info-box{
  padding-top: 10px;
  font-weight: bold;
}

.profile-info-box > p{
  font-size: 20px;
}

.profile-caption-box{
    width: 70%;
    margin:0 auto;
}



// Lettersページ
.letter-box-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.card{
  width: 28%;
  height: auto;
  max-height: 750px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 1%;
  margin-right: 1%;
  align-self: flex-start;
}

// .card__imgframe{
//   width: 100%;
//   height: auto;
//   padding-top: 56.25%;
//   background: url(https://placehold.jp/640x360.png) no-repeat center;
//   background-size: cover;
//   box-sizing: border-box;
// }

.card-textbox{
  width: 100%;
  height: auto;
  padding: 20px 18px;
  background: #ffffff;
  box-sizing: border-box;
}

.card-textbox > * + *{
  margin-top: 10px;
}

.card-titletext{
  font-size: 20px;
  font-weight: bold;
  line-height: 125%;
}

.card-overviewtext{
  font-size: 12px;
  line-height: 150%;
}

.card-skin{
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0,0,0,.2);
}

// デッドボックス
.dead-box-area{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.dead-box{
  margin-left: 20px;
  margin-right: 20px;
}

.dead-box img{
  border-radius: 50%;
  margin-bottom: 30px;
}